In [13]:
import pandas as pd

In [14]:
dataset=pd.read_csv("insurance_pre.csv")

In [15]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [16]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [17]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [18]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [19]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [20]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [21]:
dependent=dataset[["charges"]]

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [23]:
#https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(criterion='friedman_mse', splitter='random')
regressor=regressor.fit(X_train,y_train)

In [24]:
import matplotlib.pyplot as plt
from sklearn import tree
tree.plot_tree(regressor)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
y_pred=regressor.predict(X_test)

In [26]:
from sklearn.metrics import r2_score
y_pred = regressor.predict(X_test)
r_score = r2_score(y_test, y_pred)

In [ ]:
r_score

0.921530468845889

In [27]:
import pickle
filename="finalized_model_decision_tree.sav"
pickle.dump(regressor,open(filename,'wb'))

In [28]:
loaded_model=pickle.load(open("finalized_model_decision_tree.sav",'rb'))
result=loaded_model.predict([[1234,345,4565,1,0]])

c:\Users\E845932.GLOBAL\OneDrive - Honeywell\Desktop\AI_ML_Models\mykernel\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [29]:
result

array([16085.1275])